.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 16px;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  // position: relative;
}

.topbar {
  margin: 20px auto;
  // width: 63.5%;
  width: 1200px;
}

.topbar__container--whole {
  display: flex;
  // justify-content: space-between;
}

.topbar__left--title {
  // margin-left: 5px;
  width: 70%;
}

.homepage__title {
  font-size: 30px;
  font-weight: 700;
  color: #448899;
}

.clickE {
  cursor: pointer;
}

.topbar__container--right {
  width: 30%;
  // margin-right: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.topbar__right--booking {
  margin-right: 15px;
}

.topbar__title--font {
  font-size: 16px;
  font-weight: 500;
  color: #666666;
}

.topbar__right--login {
  margin-left: 15px;
}

.button_like {
  border: solid white 1px;
  background-color: white;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  height: 750px;
}

.message {
  width: 100%;
  margin-top: 100px;
}

.message p {
  font-size: 36px;
  font-weight: 400;
  color: #666666;
}

.footer__structure {
  max-width: 1920px;
  margin-top: 60px;
  background-color: #757575;
}

.footer__height--on {
  height: 100vh;
}

.footer__height--off {
  height: 104px;
}

.footer__layout {
  display: flex;
  justify-content: center;
}

.footer {
  color: white;
  padding-top: 20px;
}

@media (max-width: 1225px) {
  .container {
    max-width: 1225px;
    padding: 0;
  }
  .topbar {
    width: 80%;
  }
  .topbar__left--title {
    width: 50%;
    margin-left: 0;
    padding-left: 10px;
  }
  .topbar__container--right {
    width: 50%;
    margin: 0;
  }
  .homepage__title {
    white-space: nowrap;
  }
  .topbar__right--booking {
    white-space: nowrap;
    margin: 0;
  }
  .topbar__right--login {
    white-space: nowrap;
    margin: 0;
  }
}

@media (max-width: 715px) {
  .message p {
    font-size: 25px;
  }
}

@media (max-width: 460px) {
  .container {
    max-width: 460px;
    padding: 0;
  }
  .topbar {
    width: 100%;
    justify-content: space-between;
  }
  .topbar__left--title {
    width: 50%;
    margin-left: 0;
  }
  .topbar__container--right {
    justify-content: space-evenly;
    width: 50%;
    margin: 0;
  }
  .homepage__title {
    white-space: nowrap;
  }
  .topbar__right--booking {
    white-space: nowrap;
    margin: 0;
  }
  .topbar__right--login {
    white-space: nowrap;
    margin: 0;
  }
  .message p {
    font-size: 20px;
  }
}
